.people-title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.page-people__desc {
  display: flex;
}

.page-people__list {
  width: 100%;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #222;
}