.starship-details__home {
  display: flex;
  flex-direction: row;
  margin: 60px 0;
  padding: 1rem;
  background-color: #303030; 
}

.starship-image__home {
  width: 450px;
  height: 375px;
  margin-right: 10px;
  border-radius: 0.25rem;
}

.card-body__home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 20px;
}

.starship-title__home {
  margin-bottom: 20px;
  margin-left: 20px;
}

.list-group {
  width: 100%;
  margin-top: 20px;
  
}

.item-list .list-group-item {
  cursor: pointer; 
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.more-starships {
  width: 160px;
  height: 40px;
  background-color: rgb(248, 172, 6);
  border-radius: 10px;
  margin-top: 50px;
}